<div class="container">
  <div class="row justify-content-center">
    <div class="col col-md-10 col-lg-7">

      <h2 class="text-center login-title"><%= t 'titles.registration' %></h2>
      <div class="account-wall">
        <%= image_tag 'https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120', class: 'profile-img' %>

        <div class="form-signin">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

            <%= render partial: 'partials/form_errors', locals: {model: @user} %>

            <div class="field">
              <%= f.label :email, t('titles.email') %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: :off, class: 'form-control' %>
            </div>

            <div class="field">
              <%= f.label :name, t('titles.your_name') %><br />
              <%= f.text_field :name, autofocus: true, autocomplete: :off, class: 'form-control' %>
            </div>

            <div class="field">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> <%= t 'titles.minimum_password_length' %> )</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
            </div>

            <div class="actions text-center">
              <%= f.submit t('button.registration'), class: 'btn btn-primary btn-lg btn-block' %>
            </div>

          <% end %>
        </div>
      </div>

      <div class="text-center new-account">
        <%= render "devise/shared/links" %>
      </div>

    </div>
  </div>
</div>
