<%= form_for @user, html: { multipart: true } do |f| %>
  <%= render partial: 'partials/form_errors', locals: { model: @user } %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <br/>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>
  </div>

  <br/>

  <div class="form-group">
    <%= f.label :avatar %>
    <p><%= image_tag(@user.avatar.thumb.url) if @user.avatar? %></p>
    <%= f.file_field :avatar %>
  </div>

  <br/>

  <div class="actions">
    <%= f.submit t('button.save'), class: 'btn btn-primary' %>
    или <%= link_to t('button.back'), :back %>
  </div>
<% end %>
