<div class="container">
  <div class="row justify-content-center">
    <div class="col col-md-10 col-lg-7">

      <h2 class="text-center login-title"><%= t 'titles.forget_password' %></h2>
      <div class="account-wall">

        <div class="form-signin">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          
            <%= render partial: 'partials/form_errors', locals: {model: @user} %>

            <div class="field">
              <%= f.label :email, words_translate('titles.email') %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
            </div>

            <br />

            <div class="actions text-center">
              <%= f.submit words_translate('button.confirm'), class: 'btn btn-primary btn-lg btn-block' %>
            </div>

          <% end %>
        </div>
      </div>

      <div class="text-center new-account">
        <%= render "devise/shared/links" %>
      </div>

    </div>
  </div>
</div>
