<div class="container">
  <div class="row justify-content-center">
    <div class="col col-md-10 col-lg-7">

      <h2 class="text-center login-title"><%= t 'titles.pincode_form' %></h2>
      <div class="account-wall">

        <div class="form-signin">
          <%= form_tag('', method: 'post') do |f| %>

            <div class="field">
              <label for="pincode-field"><%= t('activerecord.attributes.event.pincode') %></label>
              <%= text_field_tag :pincode, params[:pincode], autofocus: true, class: 'form-control', type: "password", id: 'pincode-field' %>
            </div>

            <br />

            <div class="actions text-center">
              <button type="submit" class="btn btn-primary btn-lg btn-block"><%= t('button.confirm') %></button>
            </div>

          <% end %>
        </div>
      </div>

      <div class="text-center new-account">
        <%= link_to t('titles.to_the_main_page'), events_path %>
      </div>

    </div>
  </div>
</div>
