<div class="event">
  <div class="event-info row">
    <div class="col-md-12">
      <%= content_tag 'div', '', class: 'event-background',
        style: "background-image: url('https://images.musement.com/cover/0001/55/chamonix-mont-blanc-day-trip-from-geneva_header-54010.jpeg?lossless=false&auto=format&fit=clip&h=677.59375&w=636.296875')" %>

      <div class="event-info-inner row">
        <div class="col-md-6">
          <div class="event-description">
            <h1><%= @event.title %></h1>
            <h3><%= l @event.datetime, format: :short %></h3>

            <h3><small><%= link_to @event.address,
              "https://yandex.ru/maps/?text=#{@event.address}" %></small></h3>
            <p><%= @event.description %></p>
          </div>

          <% if current_user_can_edit?(@event) %>
            <div class="buffer-both">
              <%= link_to words_translate('button.change'), edit_event_path(@event),
                class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="event-comments buffer-top">
        <div class="buffer-both">
          <%= render partial: 'comments/comment',
            collection: @event.comments %>
        </div>
      </div>
    </div>
  </div>
</div>
