<div class="container">
  <div class="row justify-content-center">
    <div class="col col-md-10 col-lg-7">

      <h2 class="text-center login-title"><%= t 'titles.enter' %></h2>
      <div class="account-wall">

        <div class="form-signin">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

            <div class="field">
              <%= f.label :email, t('titles.email') %>
              <%= f.email_field :email, autofocus: true, autocomplete: :off, class: 'form-control' %>
            </div>

            <br />

            <div class="field">
              <%= f.label :password %>
              <%= f.password_field :password, autocomplete: :off, class: 'form-control' %>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>

            <br />

            <div class="actions text-center">
              <%= f.submit t('button.sign_in'), class: 'btn btn-primary btn-lg btn-block' %>
            </div>

          <% end %>
        </div>
      </div>

      <div class="text-center new-account">
        <%= render "devise/shared/links" %>
      </div>

    </div>
  </div>
</div>
